<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.gaurav.avnc" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:fullBackupContent="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.gaurav.avnc.App" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name="com.gaurav.avnc.ui.home.SplashActivity" android:theme="@style/SplashTheme"/>
        <activity-alias android:exported="true" android:name="com.gaurav.avnc.StartupActivity" android:targetActivity="com.gaurav.avnc.ui.home.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:name="com.gaurav.avnc.ui.home.HomeActivity"/>
        <activity android:name="com.gaurav.avnc.ui.home.UrlBarActivity" android:parentActivityName="com.gaurav.avnc.ui.home.HomeActivity" android:windowSoftInputMode="stateVisible"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.gaurav.avnc.ui.vnc.VncActivity" android:resizeableActivity="true" android:supportsPictureInPicture="true"/>
        <activity android:name="com.gaurav.avnc.ui.vnc.UriReceiverActivity"/>
        <activity-alias android:exported="true" android:name="com.gaurav.avnc.UriReceiverActivity" android:targetActivity="com.gaurav.avnc.ui.vnc.UriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="vnc"/>
            </intent-filter>
        </activity-alias>
        <activity android:name="com.gaurav.avnc.ui.prefs.PrefsActivity"/>
        <activity android:name="com.gaurav.avnc.ui.about.AboutActivity"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
    </application>
</manifest>